/* Poppins font (using Google fonts) with serif */
/*“concrete_seamless.png” as a background-image, backup color of #f1f1f1*/
body{
    font-family: 'Roboto', serif;
    background-color: #f1f1f1;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    margin: 20px;
    padding: 0;
    font-size: 16pt; 
  }

header{
    background: #fff;
  }
  
  
p {
    padding: 0 30px;
  }

h1 {
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    line-height: 2;
}

h2{
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-weight: bold;
    position: relative;
  }
  
h3{
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
  /*nav links flex*/
.nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }


*:focus{
    border: 2px solid black;
  }


.nav_item a{
    padding: 0.5rem 1rem;
    color:#0d6efd;
    text-decoration: none;
}

.nav_item a:hover, a:focus{
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }

.activated {
    padding: 0.5rem 1rem;
    background: lightgreen;
    color: #fff;
    font-weight:bold;
    text-decoration: wavy underline;
    border-radius: 0.25rem;
}

.divider {
  height: 10px;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.rating{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 475px;
}


.card> header:first-child{
    width: 100%;
    background-color: #c3cde6;
    padding: 20px 0px 20px;
    border-radius: 20px 20px 0px 0px;
    
}

.card{
    border-radius: 20px 20px 20px 20px;
    border: solid 4px 	#301934;
    flex-basis: 450px;
    padding: 10px;
    margin: 12px;
    background: #fff;
    position: relative;
}

.card h3{
    font-size: 1.5em;
    color: black;
    width: 90%;
    text-align: center;
  }

.card button{
    width: 90%;
    height: 40px;
    border: 0;
    margin-left: 5%;
    border-radius: 7px;
    background: #301934;
    color: white;
    font-size: 1em;
  }

.card button:hover{
    background-color: gray;
}

.image_cast{
  text-align: center;
  margin: 20px;
}

.icon{
  width: 100%;
  text-align: center;
  display: inline;
}

.sources{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
  

.item1{
    grid-column: 1 2;
}

.item2{
    grid-column:2 3;
}

.sources_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: end;
    margin: 20px;
    justify-items: center;
}

.gallery img{
    border: 10px solid #301934;
    margin: 10px 10px 10px 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.boxesContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vw 30vw 30vw;
    width: auto;
    justify-content: center;
    align-content: center;
}

 #canvas{
   display: hidden;
 }

.cardbox {
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 94.5%;
}

.card-flip {
    background: #222;
    cursor: default;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    animation: giro 1s 1;
    height: 18vw;
    width: 100%;
}

  
.cardbox:hover .card-flip,
.cardbox:focus-within .card-flip,
.cardbox:active .card-flip,
.cardbox:focus .card-flip
 {
    transform: rotateY( 180deg);
}

.card-flip p{
    color: white;
    margin-bottom: 0.8em;
    text-align: center;
    padding: 0px;
}


.card-flip img {
    width: 15vw;
    height: auto
  }
  
  .card-flip .front,
  .card-flip .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 0.8em;
    padding: 0.5vw;
    position: absolute;
    text-align: center;
    width: 100%;
    height: auto;
    overflow: hidden;

  }
  
  .card-flip .front strong {
    background: #fff;
    border-radius: 100%;
    color: #222;
    font-size: 0.5em;
    line-height: 30px;
    padding: 0 7px 4px 6px;
  }
  
  .card-flip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

  .card-flip .back {
    transform: rotateY( 180deg);
  }
  
  .card-flip .back a {
    padding: 0.1em;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 1px;
    font-size: 0.9em;
    transition: all 0.2s ease 0s;
    text-align: center;
  }
  
  
  .cardbox:nth-child(1) .card-flip .back {
    background: darkblue;
  }
  
  .cardbox:nth-child(2) .card-flip .back {
    background: darkgreen;
  }
  
  .cardbox:nth-child(3) .card-flip .back {
    background: darkred;
  }
  
  
  .cardbox:nth-child(2) .card-flip {
    -webkit-animation: giro 1.5s 1;
    animation: giro 1.5s 1;
  }
  
  .cardbox:nth-child(3) .card-flip {
    -webkit-animation: giro 2s 1;
    animation: giro 2s 1;
  }
  
  
  @keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
  


.video-container {position:relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;}

.video-container iframe, .video-container object, .video-container embed 
{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.card_new{
    margin:20px;
    border-radius: 20px 20px 20px 20px;
    border: solid 4px 	#301934;
    flex-basis: 450px;
    padding: 10px;
}

.movement{
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
      }

      to {
        margin-left: 50%;
        width: 100%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
  }

  * {
    box-sizing: border-box;
  }
  
  .container_2 {
    height: 120px;
    width: 120px;
    margin: 50px auto 0;
    position: relative;
  }

  .circle {
    background-color:#fff;
    height: 120px;
    width: 120px;
    display: block;
    border: 5px solid #00baff;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    animation-name:circle;
    animation-duration:1s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
    -webkit-animation-name:circle;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state:running;
  }

  .fa {
    font-size: 42px;
    color: #00baff;
    bottom: 27px;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    animation-name:arrow;
    animation-duration:1s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
    -webkit-animation-name:arrow;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state:running;
  }


  @keyframes arrow
    {
    0%   {bottom:0;}
    75% {bottom:90px;}
    100% {bottom:0;}
    }

  @-webkit-keyframes arrow
    {
    0%   {bottom:0;}
    75% {bottom:90px;}
    100% {bottom:0;}
    }

  @keyframes circle
    {
    0%   {height:120px;}
    10% {height: 120px;}
    50% {height: 130px;}
    75% {height: 150px;}
    90% {height: 130px;}
    100% {height: 120px;}
    }

  @-webkit-keyframes circle
    {
    0%   {height:120px;}
    10% {height: 120px;}
    50% {height: 130px;}
    75% {height: 150px;}
    90% {height: 130px;}
    100% {height: 120px;}
    }

    .gallery2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;}

  @media screen and (min-width: 580px) {
    .gallery2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
      margin-bottom: 10px;}

    #canvas{
      position: absolute;
      bottom: 50px;
      z-index: -1;
    }

    .nav_links{
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .gallery{
       flex-direction: row; 
    }
    .boxesContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20vw;
        width: auto;
        column-gap: 2%;
    }

    .cardbox {
        width: 100%;
  }
    .card-flip{
        height: 18vw;
        width: auto;
    }

    .sources{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: center;
    }

  

}

  /*screen-size is greater than 850px*/

@media screen and (min-width: 850px){
  .gallery2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;}

  #canvas{
    position: absolute;
    bottom: 50px;
    z-index: -1;
  }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
      /*nav links flex*/
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    /*card size 250 px*/
    .card{
        flex-basis: 250px;
        align-items: baseline;
    }

    /*Fix first header*/
    body > header{
        width: 100%;
        position: sticky;
        top: 0;
    }

    .boxesContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20vw;
        width: auto;
        column-gap: 2%;
    }

    .card-flip {
        background: #222;
        cursor: default;
        height: 18vw;
        transform-style: preserve-3d;
        transition: transform 0.4s ease 0s;
        width: auto;
        animation: giro 1s 1;
      }
}

    /*Remove animation when user prefers reduced motion*/
@media (prefers-reduced-motion) {
    .movement {
        animation-name: none;
    }
    .cardbox:hover .card-flip {
        transform: none;
    }
    .circle{
      animation-name: none;
    }
    .arrow{
      animation-name: none;
    }

    #canvas{
      position: hidden;
    }
}

footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
    margin: 20px;
    }
    

